.reviews {
    padding-bottom: 50px;

    .title {
        font-weight: 700;
        font-size: 30px;

        text-align: center;
        text-transform: uppercase;

        color: #0d0d0d;
    }
    .review-item {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: start;
        .review-item__title {
            font-weight: 700;
            font-size: 18px;

            color: #0d0d0d;
        }
        .review-item__subtitle {
            font-weight: 500;
            font-size: 14px;
            margin-top: 10px;

            color: #646464;
        }
        .review-item__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;

            color: #0d0d0d;
        }
        img {
            margin-right: 31px;
        }
    }
}
